body{
    font-family: sans-serif;
}
@keyframes pluse {
    from {transform: scale3d(1, 1, 1);}
    50% {transform: scale3d(1.2, 1.2, 1.2);}
    to {transform: scale3d(1, 1, 1);}
}

h1{
    position: relative;
    text-align: center;
    animation: pluse 1s infinite;
}
